@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root {
	--primary-color: rgb(17,86,102);
}

* {
	box-sizing: border-bdx;
	outline: 0;
}

body {
	margin: 0;
	padding: 0;
	background: var(--primary-color);
	font-family: 'Open sans', sans-serif;
	line-height: 1.5em;
}

.container {
	max-width: 480px;
	margin: 48px auto;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}

.btn-testar {
	cursor: pointer;
	margin-bottom: 12px;
}

.positivo {
	color: #2E8B57
}

.negativo {
	color: #FF0000
}